<footer class="footer-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <div class="widget mb-3">
          <h3>conditions-generales </h3>
          <ul class="list-unstyled links">
            <li><a href="/conditions-generales">conditions-generales</a></li>
            <!-- <li><a href="#">Club News</a></li>
            <li><a href="#">Media Center</a></li>
            <li><a href="#">Video</a></li>
            <li><a href="#">RSS</a></li> -->
          </ul>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="widget mb-3">
          <h3>Statistic</h3>
          <ul class="list-unstyled links">
            <li><a href="teams">Score</a></li>
            <li><a href="teams">result</a></li>
            <li><a href="teams">Match &amp; Classification</a></li>
            <li><a href="teams">teams</a></li>
            <li><a href="teams">player</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="widget mb-3">
          <h3>Matches</h3>
          <ul class="list-unstyled links">
            <li><a href="match">Player statistics </a></li>
            <li><a href="statistic">Match Statistics</a></li>
            <li><a href="teams">Teams Statistics </a></li>
          
          </ul>
        </div>
      </div>

      <div class="col-lg-3">
        <div class="widget mb-3">
          <h3>Drawing</h3>
          <ul class="list-unstyled links">
            <li><a href="teams">Edit video</a></li>
            <li><a href="teams">Streming video</a></li>
            <li><a href="teams">Update Video</a></li>
            <li><a href="teams">Youtube</a></li>
          </ul>
        </div>
      </div>

    </div>

    <div class="row text-center">
      <div class="col-md-12">
        <div class=" pt-5">
          <p>
            <!-- Link back to Elite Sport can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;
            <script>
              document.write(new Date().getFullYear());
            </script> All rights reserved | This Website is made with  <i class="icon-heart"
              aria-hidden="true"></i> by <a href="https://elitesportholding.com" target="_blank">Elite Sport</a>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          </p>
        </div>
      </div>

    </div>
  </div>
</footer>
