<div class="wrapper" [ngClass]="{'sidebar-collapsed': !sidebarOpen}">
  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar header with logo and toggle button -->
    <div class="logo-section">
      <!-- Application Logo -->
      <a class="logo" routerLink="/">
        <img src="assets/images/logocoach.png" alt="logo">
      </a>

      <!-- Toggle button for sidebar collapse -->
      <button class="btn btn-light btn-toggle-sidebar" (click)="toggleSidebar()">
        <i class="nc-icon nc-minimal-left" *ngIf="sidebarOpen"></i>
        <i class="nc-icon nc-minimal-right" *ngIf="!sidebarOpen"></i>
      </button>
    </div>

    <!-- Profile Section -->
    <div class="profile-section">
      <img [src]="profilePicUrl" alt="Admin Profile Picture" *ngIf="profilePicUrl" class="profile-img" (click)="goToProfile()">
      <div class="admin-details">
        <p class="simple-text logo-normal">
          {{ admin.firstName || 'First Name' }} {{ admin.lastName || 'Last Name' }}
        </p>
        <p class="role">{{ admin.role }}</p>
      </div>
    </div>

    <!-- Sidebar Navigation Links -->
    <div class="sidebar-wrapper">
      <ul class="nav">
        <li [ngClass]="{ active: router.url === '/admin/dashboard' }">
          <a [routerLink]="['/admin/dashboard']">
            <i class="nc-icon nc-chart-bar-32"></i>
            <p>Dashboard</p>
          </a>
        </li>
        <li [ngClass]="{ active: router.url === '/admin/reclamations' }">
          <a [routerLink]="['/admin/reclamations']">
            <i class="nc-icon nc-alert-circle-i"></i>
            <p>Reclamations</p>
          </a>
        </li>
        
        <!-- Archived Section -->
        <li>
          <a (click)="toggleArchivedSection()">
            <i class="nc-icon nc-archive-2"></i>
            <p>Archived <span *ngIf="!archivedSectionOpen">+</span><span *ngIf="archivedSectionOpen">-</span></p>
          </a>

          <ul *ngIf="archivedSectionOpen" class="nav-sub">
            <li [ngClass]="{ active: router.url === '/admin/archived-reclamations' }">
              <a [routerLink]="['/admin/archived-reclamations']">
                <i class="nc-icon nc-single-copy-04"></i>
                <p>Archived Reclamations</p>
              </a>
            </li>
            <li [ngClass]="{ active: router.url === '/admin/archived-managers' }">
              <a [routerLink]="['/admin/archived-managers']">
                <i class="nc-icon nc-single-copy-04"></i>
                <p>Archived Managers</p>
              </a>
            </li>
          </ul>
        </li>
      </ul>

      <!-- Logout Button -->
      <div class="logout-section">
        <button class="btn btn-danger" (click)="logout()">Logout</button>
      </div>
    </div>
  </div>

  <!-- Main Panel -->
  <div class="main-panel">
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
