<div class="site-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <form [formGroup]="updateTeamForm" (ngSubmit)="updateTeam()">

                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" formControlName="name" class="form-control" placeholder="Name" />
                        <div *ngIf="f?.['name']?.['touched'] && f?.['name']?.['errors']?.['required']"
                            class="alert alert-danger">
                            Name is required.
                        </div>
                    </div>


                    <div class="form-group">
                        <label for="location">Location</label>
                        <input type="text" formControlName="location" class="form-control" placeholder="location" />
                        <div *ngIf="f?.['location']?.['touched'] && f?.['location']?.['errors']?.['required']"
                            class="alert alert-danger">
                            Location is required.
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="homeStadium">Formation Year</label>
                        <input type="text" formControlName="formationYear" class="form-control"
                            placeholder="Formation Year" />
                        <div *ngIf="f?.['formationYear']?.touched && f?.['formationYear']?.errors?.['required']"
                            class="alert alert-danger">
                            Formation year is required.
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="formationYear">Home Stadium</label>
                        <input type="text" formControlName="homeStadium" class="form-control"
                            placeholder="Home Stadium" />
                        <div *ngIf="f?.['homeStadium']?.touched && f?.['homeStadium']?.errors?.['required']"
                            class="alert alert-danger">
                            Home stadium is required.
                        </div>
                    </div>


                    <div class="form-group">
                        <label for="managerTeam">ManagerTeam</label>
                        <input type="text" formControlName="managerTeam" class="form-control"
                            placeholder="Manager Team" />
                        <div *ngIf="f?.['managerTeam']?.touched && f?.['managerTeam']?.errors?.['required']"
                            class="alert alert-danger">
                            Manager team is required.
                        </div>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-success py-3 px-5">Update Team</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>