
<app-banner title="Add Match"></app-banner>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">

    
<B>Conditions Générales d'Utilisation</B>
<p>

1. Acceptation des Conditions<br>

L'utilisation de l'application aitacticalanalysis et de son site web associé https://elitesportholding.com/  (ci-après désignés collectivement comme « le Service »), est soumise aux présentes conditions générales (les « CGU »). En accédant au Service, vous acceptez d'être lié par ces CGU.<br>

2. Modifications des Conditions<br>

aitacticalanalysis se réserve le droit de modifier les présentes CGU à tout moment. La dernière version des CGU sera toujours disponible sur notre site web. Votre utilisation continue du Service après toute modification signifie que vous acceptez les modifications apportées.<br>

3. Licence d'Utilisation
aitacticalanalysis vous accorde une licence limitée, révocable, non-exclusive et non-transférable pour accéder et utiliser le Service exclusivement pour votre usage personnel et non commercial.<br>

4. Compte d'Utilisateur

Pour accéder à certaines fonctionnalités du Service, vous devrez créer un compte. Vous êtes responsable de la sécurité de votre compte et de toutes les activités qui se déroulent sous votre compte. En cas d'utilisation non autorisée de votre compte, vous devez immédiatement en informer elite sport holding.<br>

5. Contenu du Service<br>

Le contenu affiché sur le Service est protégé par le droit d'auteur, le droit des marques et d'autres lois. Vous n'êtes pas autorisé à copier, modifier, distribuer, vendre ou louer une partie de notre Service ou du contenu inclus, ni à procéder à de l'ingénierie inverse.<br>

6. Comportement des Utilisateurs<br>

Vous vous engagez à ne pas utiliser le Service pour des activités illégales ou non autorisées. Vous acceptez de ne pas partager de contenu offensant, obscène ou diffamatoire via le Service.<br>

7. Résiliation<br>

aitacticalanalysis peut suspendre ou résilier votre accès au Service à tout moment, sans préavis, en cas de non-respect de ces CGU.<br>

8. Garanties et Responsabilités<br>

Le Service est fourni « aitacticalanalysis ». elite sport ne garantit pas que le Service sera exempt d'erreurs ou disponible de manière continue. Nous déclinons toute responsabilité pour les dommages directs ou indirects résultant de l'utilisation du Service.<br>

9. Indemnisation<br>

Vous acceptez d'indemniser et de dégager elite sport holding de toute responsabilité concernant les réclamations ou dommages résultant de votre utilisation du Service ou de votre violation des présentes CGU.<br>

10. Droit Applicable et Juridiction

Les présentes CGU sont régies par les lois tunisia. Tout litige lié à ces CGU sera soumis à la juridiction exclusive des tribunaux tunisia.<br>

11. Contact

Pour toute question ou réclamation concernant le Service, veuillez contacter elite sportà l'adresse suivante elitesportholding<span>&#64;</span>gmail.com.<br>
</p>
</div>
</div>
</div>
