<section class="mt-5">
    <table class="table table-success table-striped">
        <thead>
            <tr>
                <th scope="col">Team name</th>
                <th scope="col">Update</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let team of teams">
                <td>{{team.name}}</td>
                <td>
                    <button class="btn btn-warning" (click)="updateTeam(team.id)">Update</button>
                </td>
                <td>
                    <button class="btn btn-danger" (click)="deleteTeam(team.id)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</section>
