
<header class="site-navbar py-4" role="banner">
    <div class="container">
      <div class="d-flex align-items-center">
        <div class="site-logo">
          <a href="index.html">
            <img src="assets/images/logo.jpg" width="120" alt="Image circulaire" class="img-fluid image-circulaire">

          </a>
        </div>
        <div class="ml-auto">
          <nav class="site-navigation position-relative text-right" role="navigation">
            <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
              <li class="active"><a href="index.html" class="nav-link"><b>HOME</b></a></li>
              <li><a href="/classification" class="nav-link"><b>SCORE</b></a></li>
              <li><a href="https://vue.aitacticalanalysis.com/" target="_blank" class="nav-link"><b>DRAWING</b></a></li>
              <li><a href="/teams" class="nav-link"><b>TEAMS</b></a></li>
              <li><a href="/contact" class="nav-link"><b>CONTACT</b></a></li>
              <li><a href="/stream" class="nav-link"><b>STREAM</b></a></li>
              <li><a href="/match" class="nav-link"><b>MATCHES</b></a></li>
              <li><a href="/statistic" class="nav-link"><b>statistic</b></a></li>



            </ul>
          </nav>

          <a href="#" class="d-inline-block d-lg-none site-menu-toggle js-menu-toggle text-black float-right text-white"><span
              class="icon-menu h3 text-white"></span></a>
        </div>
      </div>
    </div>

  </header>