<header>
  <!-- Logo with router link -->
  <a class="logo" routerLink="/">
    <img src="assets/images/logo.png" alt="logo">
  </a>

  <!-- Navigation links -->
  <nav>
    <ul class="nav__links">
      <li><a routerLink="/classification">Score</a></li>
      <li><a routerLink="/teams">Teams</a></li>
      <li><a routerLink="/contact">Contact</a></li>
      <li><a routerLink="/match">Matches</a></li>
      <li><a routerLink="/statistic">Statistic</a></li>
      
      <!-- If the user is logged in, show Profile and Logout buttons -->
      <li *ngIf="isLoggedIn">
        <!-- Profile Image with Dropdown -->
        <div class="profile-container" (click)="toggleDropdown()">
          <img
            *ngIf="profile?.image; else defaultImage"
            [src]="profile?.image"
            alt="Profile Image"
            class="profile-image"
          />
          <ng-template #defaultImage>
            <img src="assets/images/default-profile.png" alt="Default Profile" class="profile-image" />
          </ng-template>

          <!-- Dropdown menu that will show when 'dropdownVisible' is true -->
          <div class="profile-dropdown" [class.active]="dropdownVisible">
            <p>{{ profile?.email }}</p>
            <a (click)="logout()">Logout</a>
          </div>
        </div>
      </li>

      <!-- If the user is not logged in, show the login/connexion link -->
      <li *ngIf="!isLoggedIn">
        <a routerLink="/auth" class="cta">Connexion</a>
      </li>
    </ul>
  </nav>

  <!-- Mobile Menu Button -->
  <p class="menu cta" (click)="openNav()">Menu</p>

  <!-- Mobile Navigation Overlay -->
  <div id="mobile-menu" class="overlay">
    <a href="javascript:void(0)" class="close" (click)="closeNav()">&times;</a>
    <div class="overlay__content">
      <a routerLink="/classification" (click)="closeNav()">Score</a>
      <a routerLink="/teams" (click)="closeNav()">Teams</a>
      <a routerLink="/contact" (click)="closeNav()">Contact</a>
      <a routerLink="/match" (click)="closeNav()">Matches</a>
      <a routerLink="/statistic" (click)="closeNav()">Statistic</a>

      <a *ngIf="isLoggedIn" (click)="logout(); closeNav()">Logout</a>
      <a *ngIf="!isLoggedIn" routerLink="/auth" (click)="closeNav()">Connexion</a>
    </div>
  </div>
</header>
