<header>
  <a class="logo" routerLink="/"><img src="assets/images/logo.png" alt="logo"></a>
  <nav>
    <ul class="nav__links">
      <li><a routerLink="/classification">Score</a></li>
      <li><a routerLink="/teams">Teams</a></li>
      <li><a routerLink="/contact">Contact</a></li>
      <li><a routerLink="/match">Matches</a></li>
      <li><a routerLink="/statistic">Statistic</a></li>
      <!-- External link -->
      <li><a href="https://vue.aitacticalanalysis.com/" target="_blank">Drawing</a></li>
      <li><a href="https://iptv.aitacticalanalysis.com/" target="_blank">Stream</a></li>
      
      <!-- If the user is logged in, show Profile and Logout buttons -->
      <li *ngIf="isLoggedIn"><a routerLink="/dashboard">Profile</a></li>
      <li *ngIf="isLoggedIn"><a (click)="logout()" class="cta">Logout</a></li>

      <!-- If the user is not logged in, show the Connexion button -->
      <li *ngIf="!isLoggedIn"><a routerLink="/auth" class="cta">Connexion</a></li>
    </ul>
  </nav>
  <p class="menu cta">Menu</p>
</header>

<!-- Mobile Overlay Menu -->
<div class="overlay" id="mobile-menu">
  <a class="close" href="javascript:void(0)" (click)="closeNav()">&times;</a>
  <div class="overlay__content">
    <a routerLink="/">Home</a>
    <a routerLink="/classification">Score</a>
    <a routerLink="/teams">Teams</a>
    <a routerLink="/contact">Contact</a>
    <a routerLink="/match">Matches</a>
    <a routerLink="/statistic">Statistic</a>
    <a href="https://vue.aitacticalanalysis.com/" target="_blank">Drawing</a>
    <a href="https://iptv.aitacticalanalysis.com/" target="_blank">Stream</a>
    
    <!-- Conditional buttons based on login state -->
    <a *ngIf="isLoggedIn" routerLink="/dashboard">Profile</a>
    <a *ngIf="isLoggedIn" (click)="logout()">Logout</a>
    <a *ngIf="!isLoggedIn" routerLink="/auth">Connexion</a>
  </div>
</div>
