<app-banner [title]="'Add Contact'" [showBackground]="true"></app-banner>


<div class="site-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-7">
        <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <input type="text" formControlName="title" class="form-control" placeholder="Subject" required>
          </div>
          <div class="form-group">
            <textarea formControlName="description" class="form-control" cols="30" rows="10" placeholder="Write something..." required></textarea>
          </div>
          <div class="form-group">
            <input type="submit" class="btn btn-primary py-3 px-5" value="Send Message">
          </div>
        </form>

        <div *ngIf="successMessage" class="alert alert-success">
          {{ successMessage }}
        </div>
        <div *ngIf="errorMessage" class="alert alert-danger">
          {{ errorMessage }}
        </div>
      </div>
      <div class="col-lg-4 ml-auto">
        <ul class="list-unstyled">
          <li class="mb-2">
            <strong class="text-white d-block">Address</strong>
            273 South Riverview Rd. <br> New York, NY 10011
          </li>
          <li class="mb-2">
            <strong class="text-white d-block">Email</strong>
            <a href="#">https://elitesportholding.com/</a>
          </li>
          <li class="mb-2">
            <strong class="text-white d-block">Phone</strong>
            <a href="#">216 21 12 12 10</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
