<div class="live-scores-container">
  <a *ngFor="let score of displayScores" [routerLink]="['/match-details', score.event_key]" 
     class="score-item-link" [ngClass]="{'highlight': score.highlight}">
    <div class="score-item">
      <div class="league-info">
        <img [src]="score.league_logo" class="league-logo" alt="League Logo" />
        <div class="league-name">{{ score.league_name }}</div>
      </div>
      <div class="match-info">
        <div class="match-time">
          <ng-container *ngIf="isNumber(score.event_status); else otherStatus">
            {{ score.event_status }}' - Live
          </ng-container>
          <ng-template #otherStatus>
            <ng-container *ngIf="score.event_status === 'Upcoming'; else finished">
              {{ score.event_time }} - Upcoming
            </ng-container>
            <ng-template #finished>
              {{ score.event_time }} - Finished
            </ng-template>
          </ng-template>
        </div>
        <div class="teams">
          <div class="team">
            <img [src]="score.home_team_logo" class="team-logo" alt="Home Team Logo" />
            <div class="team-name">{{ score.event_home_team }}</div>
            <div class="home-score">{{ score.homeScore !== undefined ? score.homeScore : 0 }}</div>
          </div>
          <div class="team">
            <img [src]="score.away_team_logo" class="team-logo" alt="Away Team Logo" />
            <div class="team-name">{{ score.event_away_team }}</div>
            <div class="away-score">{{ score.awayScore !== undefined ? score.awayScore : 0 }}</div>
          </div>
        </div>
      </div>
      <div class="match-status">
        <ng-container *ngIf="isNumber(score.event_status); else notLiveStatus">
          Live
        </ng-container>
        <ng-template #notLiveStatus>
          <ng-container *ngIf="score.event_status === 'Upcoming'; else finishedStatus">
            Upcoming
          </ng-container>
          <ng-template #finishedStatus>
            Finished
          </ng-template>
        </ng-template>
      </div>
    </div>
  </a>
</div>
