<div class="site-section"> 
  <div class="container"> 
    <div class="row"> 
      <div class="col-lg-7"> 
 
 
        <form [formGroup]="addMatchForm" (ngSubmit)="addMatch()"> 
  
 
          <div class="form-group"> 
            <label for="referee">Referee</label> 
            <input type="text" id="referee" formControlName="referee" class="form-control" placeholder="Referee"> 
            <span *ngIf="addMatchForm.get('referee')?.invalid && addMatchForm.get('referee')?.touched" class="error">Referee is required</span> 
          </div> 
         
          <div class="form-group"> 
            <label for="attendance">Attendance</label> 
            <input type="text" id="attendance" formControlName="attendance" class="form-control" placeholder="Attendance"> 
            <span *ngIf="addMatchForm.get('attendance')?.invalid && addMatchForm.get('attendance')?.touched" class="error">Attendance is required</span> 
          </div> 
         
          <div class="form-group"> 
            <label for="homeTeam">TEAM HOME</label> 
            <select id="homeTeam" formControlName="homeTeam" class="form-select"> 
              <option value="" selected>Select Team Home</option> 
              <option *ngFor="let team of teams" [value]="team.id">{{ team.name }}</option> 
            </select> 
          </div> 
         
          <div class="form-group"> 
            <label for="awayTeam">TEAM AWAY</label> 
            <select id="awayTeam" formControlName="awayTeam" class="form-select"> 
              <option value="" selected>Select Team Away</option> 
              <option *ngFor="let team of teams" [value]="team.id">{{ team.name }}</option> 
            </select> 
          </div> 
 
 
 
 
 
    
          <div class="form-group"> 
            <label for="result">Result</label> 
            <input type="text" id="result" formControlName="result" class="form-control" placeholder="result"> 
            <span *ngIf="addMatchForm.get('result')?.invalid && addMatchForm.get('result')?.touched" class="error">Result is required</span> 
          </div> 
 
       
          <button type="submit" class="btn btn-success">Add Match</button> 
        </form> 
         
      </div> 
 
    </div> 
  </div> 
</div>