

<div class="forgot-password-container">
  <h2 class="title">Forgot Password</h2>
  
  <!-- Step 1: Email Form -->
  <div *ngIf="currentStep === 1" class="slide-in-right">
    <p>Enter your email address to receive a verification code.</p>
    <form [formGroup]="emailForm" (ngSubmit)="onSubmitEmail()">
      <mat-form-field appearance="outline">
        <mat-icon matPrefix>email</mat-icon>
        <input matInput placeholder="Email Address" formControlName="email" required>
      </mat-form-field>
      <button mat-raised-button type="submit" [disabled]="!emailForm.valid">Send Code</button>
    </form>
  </div>
  
  <!-- Step 2: Code Verification -->
  <div *ngIf="currentStep === 2" class="slide-in-top">
    <h3 color_lens>Verify Your Code</h3>
    <p *ngIf="emailSuccessMessage" class="success-text">{{emailSuccessMessage}}</p>
    <p>A verification code has been sent to your email. Please enter the 6-digit code below.</p>

    <form [formGroup]="codeForm" (ngSubmit)="onSubmitCode()">
      <mat-form-field appearance="outline">
        <mat-label>6-Digit Code</mat-label>
        <input matInput placeholder="Enter the code" formControlName="code" maxlength="6" required>
      </mat-form-field>

      <div class="code-verification-buttons">
        <button mat-raised-button type="submit" [disabled]="!codeForm.valid">Verify</button>
        <button mat-stroked-button color="accent" (click)="onResendCode()" *ngIf="resendAvailable">Resend Code</button>
      </div>
      
      <p *ngIf="verificationError" class="error-text">{{verificationError}}</p>
      <p *ngIf="!resendAvailable">You can resend the code in {{countdown}} seconds.</p>
    </form>
  </div>
  
  <!-- Step 3: Password Reset -->
  <div *ngIf="currentStep === 3" class="slide-in-bottom">
    <h2>Reset Your Password</h2>
    <form [formGroup]="passwordForm" (ngSubmit)="onSubmitPassword()">
      <mat-form-field appearance="outline">
        <mat-icon matPrefix>vpn_key</mat-icon>
        <input matInput placeholder="New Password" formControlName="password" type="password" required>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-icon matPrefix>vpn_key</mat-icon>
        <input matInput placeholder="Confirm Password" formControlName="confirmPassword" type="password" required>
      </mat-form-field>
      <p *ngIf="passwordForm.invalid && passwordForm.errors?.['passwordMismatch']" class="error-text">Passwords do not match</p>
      <button mat-raised-button type="submit" [disabled]="!passwordForm.valid">Reset Password</button>
    </form>
  </div>
</div>
