<div *ngIf="!emailSent">
  <h3>Forgotten your password?</h3>
  <form [formGroup]="emailForm" (ngSubmit)="onSubmitEmail()">
    <mat-form-field>
      <input matInput placeholder="Enter your email" formControlName="email" required>
    </mat-form-field>
    <button mat-button type="submit" [disabled]="!emailForm.valid">Send</button>
  </form>
</div>

<div *ngIf="emailSent && !codeVerified">
  <p>A verification code has been sent to your email.</p>
  <p *ngIf="!resendAvailable">You can resend the code after 60 seconds.</p>
  <button mat-button (click)="onResendCode()" *ngIf="resendAvailable">Resend Code</button>
  
  <form [formGroup]="codeForm" (ngSubmit)="onSubmitCode()">
    <mat-form-field>
      <input matInput placeholder="Enter the 6-digit code" formControlName="code" maxlength="6" required>
    </mat-form-field>
    <button mat-button type="submit" [disabled]="!codeForm.valid">Verify</button>
  </form>

  <p *ngIf="verificationFailed" style="color: red;">Verification failed. Please try again.</p>
</div>

<div *ngIf="codeVerified">
  <h3>Reset your password</h3>
  <form [formGroup]="passwordForm" (ngSubmit)="onSubmitPassword()">
    <mat-form-field>
      <input matInput placeholder="New Password" formControlName="password" type="password" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Confirm Password" formControlName="confirmPassword" type="password" required>
    </mat-form-field>
    <div *ngIf="passwordForm.invalid && passwordForm.errors?.['passwordMismatch']">
      <p style="color: red;">Passwords do not match</p>
    </div>
    <button mat-button type="submit" [disabled]="!passwordForm.valid">Reset Password</button>
  </form>
</div>
