<div class="site-section">
  <div class="container">
    <div class="row">
      
      <!-- Sidebar for Matches Selection -->
      <div class="col-lg-3">
        <div class="league-sidebar">
          <h4>Select a Match</h4>
          <div class="league-list-wrapper">
            <ul class="list-unstyled league-list">
              <li *ngFor="let match of matches" (click)="onMatchSelected(match.id)">
                <span class="league-name">{{ match.name }}</span>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <!-- Form and Table Section -->
      <div class="col-lg-9 table-container">
        
        <!-- Form to Add Player Actions -->
        <form>
          <div class="action-form">
            <div class="team-container">
              <div class="team-block">
                <h3>Team Home</h3>
                <select id="homeTeamSelect" name="homeTeamSelect" class="form-control" [(ngModel)]="actionForm.selectedHomePlayer">
                  <option value="">Select Player</option>
                  <option *ngFor="let player of teamHome" [ngValue]="player">{{ player.firstName }} {{ player.lastName }}</option>
                </select>
                <div *ngIf="actionForm.selectedHomePlayer">
                  <label for="homeAction">Action:</label>
                  <select id="homeAction" name="homeAction" class="form-control" [(ngModel)]="actionForm.homeAction">
                    <option *ngFor="let action of ActionsTeamHome" [value]="action">{{ action }}</option>
                  </select>
                  <label for="homeTime">Time:</label>
                  <input type="datetime-local" id="homeTime" name="homeTime" class="form-control" [(ngModel)]="actionForm.homeTime">
                </div>
              </div>
              <div class="team-block">
                <h3>Team Away</h3>
                <select id="awayTeamSelect" name="awayTeamSelect" class="form-control" [(ngModel)]="actionForm.selectedAwayPlayer">
                  <option value="">Select Player</option>
                  <option *ngFor="let player of teamAway" [ngValue]="player">{{ player.firstName }} {{ player.lastName }}</option>
                </select>
                <div *ngIf="actionForm.selectedAwayPlayer">
                  <label for="awayAction">Action:</label>
                  <select id="awayAction" name="awayAction" class="form-control" [(ngModel)]="actionForm.awayAction">
                    <option *ngFor="let action of ActionsTeamAway" [value]="action">{{ action }}</option>
                  </select>
                  <label for="awayTime">Time:</label>
                  <input type="datetime-local" id="awayTime" name="awayTime" class="form-control" [(ngModel)]="actionForm.awayTime">
                </div>
              </div>
            </div>
          </div>
          <button type="button" class="btn btn-primary" (click)="addActions()">Add Actions</button>
        </form>

        <!-- Player Statistics and Actions Table -->
        <div *ngIf="playerActions.length > 0">
          <h3>Player Actions</h3>
          <table class="table custom-table">
            <thead>
              <tr>
                <th>ID</th>
                <th>Type</th>
                <th>Description</th>
                <th>Time</th>
                <th>Team</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let action of playerActions">
                <td>{{ action.id }}</td>
                <td>{{ action.type }}</td>
                <td>{{ action.description }}</td>
                <td>{{ action.time }}</td>
                <td>{{ action.player.team.name }}</td>
                <td>
                  <button class="btn btn-danger btn-sm" (click)="deleteStatistic(action.id)">Delete</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
