<app-banner title="Add Contact"></app-banner>

<div class="container">
  <div class="match-image">
    <img src="assets/images/ali.jpg" alt="Votre image">
  </div>
</div>

<form>
  <div class="form-group">
    <label for="Matches">Match:</label>
    <select id="Matches" name="Matches" class="form-control" [(ngModel)]="selectedMatch" (change)="onMatchSelected()">
      <option *ngFor="let match of matches" [value]="match.id">{{ match.name }}</option>
    </select>
  </div>
  
  <div *ngIf="selectedMatch" class="team-container">
    <div class="team-block">
      <h3>Team Home</h3>
      <select id="homeTeamSelect" name="homeTeamSelect" class="form-control" [(ngModel)]="selectedHomePlayer">
        <option value="">Select Player</option>
        <option *ngFor="let player of teamHome" [ngValue]="player">{{ player.firstName }} {{ player.lastName }}</option>
      </select>
      <div *ngIf="selectedHomePlayer">
        <label for="homeAction">Action:</label>
        <select id="homeAction" name="homeAction" class="form-control" [(ngModel)]="homeAction">
          <option *ngFor="let action of ActionsTeamHome" [value]="action">{{ action }}</option>
        </select>
        <label for="homeTime">Time:</label>
        <input type="datetime-local" id="homeTime" name="homeTime" class="form-control" [(ngModel)]="homeTime">
      </div>
    </div>
    <div class="team-block">
      <h3>Team Away</h3>
      <select id="awayTeamSelect" name="awayTeamSelect" class="form-control" [(ngModel)]="selectedAwayPlayer">
        <option value="">Select Player</option>
        <option *ngFor="let player of teamAway" [ngValue]="player">{{ player.firstName }} {{ player.lastName }}</option>
      </select>
      <div *ngIf="selectedAwayPlayer">
        <label for="awayAction">Action:</label>
        <select id="awayAction" name="awayAction" class="form-control" [(ngModel)]="awayAction">
          <option *ngFor="let action of ActionsTeamAway" [value]="action">{{ action }}</option>
        </select>
        <label for="awayTime">Time:</label>
        <input type="datetime-local" id="awayTime" name="awayTime" class="form-control" [(ngModel)]="awayTime">
      </div>
    </div>
  </div>

  <button type="button" class="btn btn-success" (click)="updateMessage()">Afficher le message</button>

  <div *ngIf="message" class="message-container">
    <p>{{ message }}</p>
  </div>
</form>
