<app-banner title="Add Contact"></app-banner>

<div class="container">
  <div class="match-image">
    <img src="assets/images/ali.jpg" alt="Votre image">
  </div>
</div>

<form>
 <label for="Matches">Match:</label>
<select id="Matches" name="Matches" class="form-control" [(ngModel)]="selectedMatch">
  <option *ngFor="let match of matches" [value]="match.id">{{ match.name }}</option>
</select>
  <div class="team-container">
    <div class="Team Home">
      <select id="homeTeamSelect" name="homeTeamSelect" class="form-control" [(ngModel)]="selectedHomeTeam">
        <option value="">Team Home</option>
        <option *ngFor="let team of teamHome" [value]="team">{{ team }}</option>
      </select>
    </div>
    <div class="Team Away">
      <select id="awayTeamSelect" name="awayTeamSelect" class="form-control" [(ngModel)]="selectedAwayTeam">
        <option value="">Team Away</option>
        <option *ngFor="let team of teamAway" [value]="team">{{ team }}</option>
      </select>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <div class="container">
        <label for="playerActions">Action:</label>
        <select id="playerActions" name="playerActions" class="form-control" [(ngModel)]="selectedAction">
          <option *ngFor="let action of teamAActions" [value]="action">{{ action }}</option>
        </select>
      </div>
    </div>

    <div class="col-md-3">
      <div class="container">
        <label for="playerList">Player:</label>
        <select id="playerList" name="playerList" class="form-control" [(ngModel)]="selectedPlayer">
          <option *ngFor="let player of players" [value]="player">{{ player }}</option>
        </select>
        
      </div>
    </div>
  </div>

  <button type="button" class="btn btn-success" (click)="updateMessage()">Afficher le message</button>

  <div *ngIf="message" class="message-container">
    <p>{{ message }}</p>
  </div>
</form>
